html {
    background-color: rgb(15 23 42);
}

body {
    color: rgb(148 163 184);
    background: radial-gradient(1200px at 300px 300px, rgba(29, 78, 216, 0.15), transparent 80%);
}

a {
    color: rgb(94, 234, 212);
}

.h1 {
    color: rgb(235 241 250);
}
.h3 {
    padding-top: 20px;
    color: rgb(198, 215, 240);
}

.h5 {
    padding-top: 16px;
    color: rgb(94, 234, 212);
}

.text-light {
    color: rgb(179, 197, 223) !important;
}

.v-center {
    display: flex;
    align-items: center;
}

.art-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.art {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.fw-lighter {
    color: hsl(215 20% 88% / 1);
}

.no-phrase-break {
    white-space: nowrap;
}

.btn-outline-primary {
    color: rgb(94, 234, 212);
    border-color: rgb(94, 234, 212);
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    /* background-color: rgb(94, 234, 212);
    border-color: rgb(94, 234, 212);
    color: black; */
    background-color: #4E829A;
    border-color: #4E829A;
}

.btn-check+.btn:hover {
    /* color: rgb(94, 234, 212); */
    color: hsl(215 20% 88% / 1);
    /* background-color: var(--bs-btn-bg); */
    /* border-color: rgb(94, 234, 212); */
    border-color: #4E829A;
}

.btn:last-child:hover {
    background-color: #4E829A;
    border-color: #4E829A;
}